/* Navigation bar */
.navbar {
  overflow: hidden;
  background-color: #b9afbf;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #191716;
}

.navbar div.navbar_left {
  display: flex;
}

.navbar div.navbar_right {
  display: flex;
  margin-left: auto;
}

.navbar a {
  color: #191716;
  text-align: center;
  text-decoration: none;
  margin-top: 12px;
  margin-bottom: 8px;
  font-family: 'Cardo';
  font-style: italic;
}

.navbar_left a {
  min-width: 100px;
  font-size: 20px;
}

.navbar_right a {
  min-width: 180px;
  font-size: 16px;
}

.navbar a:hover {
  color: #603A40;
  font-family: 'Cardo';
  font-weight: 400;
}

.navbar a.current {
  color: #603A40;
  font-family: 'Cardo';
  font-weight: 400;
}

/* Main page */
.main {
  margin-top: 130px;
  margin-left: 50px;
  margin-right: 50px;
}

.main_container {
  position: relative;
  text-align: center;
  width: 100%;
}

.main_headings h1 {
  text-align: left;
  color: #440D0F;
  font-family: 'Inknut Antiqua';
  font-size: 70px;
  letter-spacing: -5px;
  line-height: 0.3;
  white-space: normal;
}

.main_headings h2 {
  text-align: left;
  color: #440D0F;
  font-family: 'Inknut Antiqua';
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -2px;
}

.main_bodytext {
  text-align: left;
  color: #191716;
  font-family: 'Cardo';
  font-size: 20px;
}

.main_images #main_index__circle {
  position: absolute;
  z-index: -1;
}

body {
  margin: 0px;
  background-color: #b9afbf;
}
