/* Navigation bar */
.navbar {
  overflow: hidden;
  background-color: #b9afbf;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #191716;
  z-index: 999;
}

.navbar div.navbar_left {
  display: flex;
}

.navbar div.navbar_right {
  display: flex;
  margin-left: auto;
}

.navbar a {
  color: #191716;
  text-align: center;
  text-decoration: none;
  margin-top: 6px;
  margin-bottom: 2px;
  font-family: 'Cardo';
  font-family: 'Inknut Antiqua';
  font-weight: 300;
  letter-spacing: -1px;
}

.navbar_left a {
  min-width: 100px;
  font-size: 16px;
}

.navbar_right a {
  min-width: 180px;
  font-size: 14px;
}

.navbar a:hover {
  color: #603A40;
  font-family: 'Inknut Antiqua';
  font-weight: 700;
}

.navbar a.current {
  color: #603A40;
  font-family: 'Inknut Antiqua';
  font-weight: 700;
}

/* Main page */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.main_content {
  position: absolute;
  max-width: 350px;
}

.main_content h1 {
  color: #440D0F;
  font-family: 'Inknut Antiqua';
  font-size: 60px;
  letter-spacing: -5px;
  line-height: 0.3;
  white-space: normal;
}

.main_content h2 {
  color: #440D0F;
  font-family: 'Inknut Antiqua';
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -2px;
}

.main_content p {
  position: relative;
  color: #191716;
  font-family: 'Cardo';
  font-size: 18px;
}

.main_images #main_image_index__circle {
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

body {
  margin: 0px;
  background-color: #b9afbf;
}
