/* Navigation bar */
.navbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
  background-color: #b9afbf;
  border-bottom: 1px solid #191716;
}

.navbar div.navbar_left {
  display: flex;
}

.navbar div.navbar_right {
  display: flex;
  margin-left: auto;
}

/* Navbar fonts */
.navbar a {
  margin-top: 6px;
  margin-bottom: 2px;
  text-align: center;
  color: #191716;
  font-family: 'Inknut Antiqua';
  font-weight: 300;
  letter-spacing: -1px;
  text-decoration: none;
}

.navbar_left a {
  min-width: 100px;
  font-size: 16px;
}

.navbar_right a {
  min-width: 180px;
  font-size: 14px;
}

.navbar a:hover {
  color: #603A40;
  font-weight: 700;
  transition: all 0.2s ease;
}

.navbar a.current {
  color: #603A40;
  font-weight: 700;
}

/* Dress-up */
.dressup {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Dress-up body */
.dressup_container {
  position: relative;
  width: 60%;
}

#dressup_image_body {
  position: absolute;
  max-height: 100%;
  margin-left: 10%;
  z-index: 1;
}

#dressup_image_day__under_suit_1 {
  visibility: hidden;
  position: absolute;
  max-height: 100%;
  margin-left: 10%;
  z-index: 2;
}

#dressup_image_day__under_suit_2 {
  visibility: hidden;
  position: absolute;
  max-height: 100%;
  margin-left: 10%;
  z-index: 2;
}

#dressup_image_day__under_suit_3 {
  visibility: hidden;
  position: absolute;
  max-height: 100%;
  margin-left: 10%;
  z-index: 2;
}

/* Dress-up outfit select */
.outfitselect_container {
  position: relative;
  width: 40%;
  margin-top: 80px;
  padding-right: 60px;
}

.outfitselect_container p {
  position: absolute;
  transform: translate(50%, 250%);
  color: #191716;
  font-family: 'Cardo';
  font-size: 18px;
  font-style: italic;
}

#outfitselect_image_outfitselect_background {
  position: absolute;
  max-height: 95%;
  z-index: -1;
}

/* Outfit select buttons */
#outfitselect_button_day__under_suit_1 {
  position: absolute;
  transform: translate(30%, 51%);
  z-index: 0;
  background: none;
  border: none;
  cursor: pointer;
}

#outfitselect_button_day__under_suit_1 img {
  height: 25vh;
}

#outfitselect_button_day__under_suit_1 img:hover {
  transform: scale(105%);
  transition: all 0.2s ease;
}

#outfitselect_button_day__under_suit_2 {
  position: absolute;
  transform: translate(105%, 51%);
  z-index: 0;
  background: none;
  border: none;
  cursor: pointer;
}

#outfitselect_button_day__under_suit_2 img {
  height: 25vh;
}

#outfitselect_button_day__under_suit_2 img:hover {
  transform: scale(105%);
  transition: all 0.2s ease;
}

#outfitselect_button_day__under_suit_3 {
  position: absolute;
  transform: translate(180%, 51%);
  z-index: 0;
  background: none;
  border: none;
  cursor: pointer;
}

#outfitselect_button_day__under_suit_3 img {
  height: 25vh;
}

#outfitselect_button_day__under_suit_3 img:hover {
  transform: scale(105%);
  transition: all 0.2s ease;
}

body {
  margin: 0px;
  background-color: #b9afbf;
}
