/* ------------------- Navigation bar ------------------- */
.navbar {
  position: fixed;
  overflow: hidden;
  top: 0;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
  background-color: #b9afbf;
  border-bottom: 1px solid #191716;
}

.navbar div.navbar_left {
  display: flex;
}

.navbar div.navbar_right {
  display: flex;
  margin-left: auto;
}

/* Navbar text */
.navbar a {
  margin-top: 6px;
  margin-bottom: 2px;
  text-align: center;
  color: #191716;
  font-family: 'Inknut Antiqua';
  font-weight: 300;
  letter-spacing: -1px;
  text-decoration: none;
}

.navbar_left a {
  min-width: 100px;
  font-size: 16px;
}

.navbar_right a {
  min-width: 180px;
  font-size: 14px;
}

.navbar a:hover {
  color: #603A40;
  font-weight: 700;
  transition: all 0.2s ease;
}

.navbar a.current {
  color: #603A40;
  font-weight: 700;
}

/* ------------------- Dress-up ------------------- */
.dressup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: calc(100vh - 50px);
  margin-top: 50px;
  width: 100%;
  border: 2px solid red;
}

/* Dress-up body and clothes */
.dressup_container {
  height: calc(100vh - 50px);
  max-width: 50%;
  border: 2px solid blue;
  position: relative;
}

.dressup_images {
  display: grid;
  place-items: center;
  max-height: calc(100vh - 50px);
}

.dressup_images img {
  grid-area: 1 / 1;
  max-height: calc(100vh - 50px);
  max-width: 50vw;
  visibility: hidden;
}

#dressup_image_body {
  visibility: visible;
}

/* Outfit selector */
.outfitselect_container {
  height: calc(100vh - 50px);
  max-width: 50%;
  border: 2px solid greenyellow;
  position: relative;
}

.outfitselect_images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: calc(100vh - 50px);
  justify-self: center;
}

#outfitselect_image_outfitselect_background {
  grid-column: 1 / -1;
  grid-row: 1;
  max-height: calc(100vh - 50px);
  max-width: 50vw;
  justify-self: center;
}

/* Outfit select buttons */
.outfitselect_images button {
  background: none;
  border: none;
  cursor: pointer;
}

.outfitselect_images button img {
  max-height: 25vh;
}

.outfitselect_images button img:hover {
  transform: scale(105%);
  transition: all 0.2s ease;
}

#outfitselect_button_night__under_furgown_1 {
  grid-area: 1 / 1;
  transform: translate(27%, -18%)
}

#outfitselect_button_night__under_furgown_2 {
  grid-area: 1 / 2;
  transform: translate(0%, -18%)
}

#outfitselect_button_night__under_furgown_3 {
  grid-area: 1 / 3;
  transform: translate(-27%, -18%)
}

#outfitselect_button_night__under_dress_1 {
  grid-area: 2 / 1;
  transform: translate(27%, -175%)
}

#outfitselect_button_night__under_dress_2 {
  grid-area: 2 / 2;
  transform: translate(0%, -175%)
}

#outfitselect_button_night__under_dress_3 {
  grid-area: 2 / 3;
  transform: translate(-27%, -175%)
}

body {
  margin: 0px;
  background-color: #b9afbf;
}
